{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container-fluid mx-auto p-2 my-5">
    <h1 class="text-center">Лучшие из лучших</h1>
</div>

<div class="container text-center my-5">
    <div class="row justify-content-center gx-5 gy-5">
        <div class="col col-sm-9 col-md-auto col-lg-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/medium-shot-boy-holding-books.jpg') }}" class="card-img-top" alt="Иванов Иван">
                <div class="card-body">
                    <h5 class="card-title">Иванов Иван</h5>
                    <h6 class="card-subtitle mb-2 text-body-Success">Ученик МАУ СОШ №12 г.Неизвестный.</h6>
                    <p class="card-text">Интересуется программированием, робототехникой. Любит скалолазание, лыжные виды спорта.</p>
                    <a href="#" class="btn btn-success">Подробнее</a>
                </div>
            </div>
        </div>
        <!-- Остальные карточки -->
        <div class="col col-sm-9 col-md-auto col-lg-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/portrait-young-girl-student-school-uniform.jpg') }}"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Малышева Маргарита</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-body-Success">Ученица МАУ СОШ №1 г.Неизвестный.</h6>
                    <p class="card-text">Учить разные иностранные языки. Любит путешествовать с родителями по раным
                        странам.
                        Хобби: танцы и музыка разного стиля.</p>
                    <a href="#" class="btn btn-success">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-9 col-md-auto col-lg-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/portrait-young-girl-student-school-uniform (1).jpg') }}"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Нечаева Анна</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-body-Success">Ученица МАУ СОШ №24 г.Неизвестный.</h6>
                    <p class="card-text">Обожает погружаться в мир книг и изучать тайны истории.
                        Мечтает побывать в древних городах и увидеть чудеса света.
                        Увлечения: игра на фортепиано.</p>
                    <a href="#" class="btn btn-success">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-9 col-md-auto col-lg-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/portrait-young-girl-student-school-uniform-jumping-mid-air.jpg') }}"  class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Великая Екатерина</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-body-Success">Ученица МАУ СОШ №11 г.Неизвестный.</h6>
                    <p class="card-text">Страстно увлекается наукой и экспериментами.
                        Мечтает совершить открытие, которое изменит мир.
                        Хобби: программирование и шахматы.</p>
                    <a href="#" class="btn btn-success">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}